<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing home page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <nav class="bg-black w-full h-20 flex justify-around items-center text-white">
            <a href="" class="text-xl font-bold">Open-Shop</a>
            <div>
                <a href="/registerAPI" class="text-lg font-medium py-3 px-6 bg-green-400 text-black rounded-lg">Register</a>
                <a href="/login" class="text-lg font-medium py-3 px-6 bg-blue-500 rounded-lg">Login</a>
            </div>
        </nav>
    </header>
</body>
</html>