<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <h1>Welcome your profile</h1>
    <div class="text-center my-5">
        <a href="/logout" class="py-3 px-6 bg-black text-white rounded-xl text-lg font-semibold">Logout</a>
    </div>
</body>
</html>